@page "/manage-service"
@model PRN221_Project_MedAppoint.Areas.Admin.Pages.ManageService.IndexModel

@{
    ViewData["Title"] = "ManageService";
}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div>
                    <h6 class="mb-4">Manage Service</h6>
                    <p>
                        <a asp-page="Create">Create New</a>
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Services[0].ServiceName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Services[0].Price)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Services[0].IsDeleted)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Services)
                            {
                                <tr>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.ServiceID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsDeleted)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.ServiceID">Edit</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.ServiceID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>