@page "/managedoctor"
@model PRN221_Project_MedAppoint.Areas.Admin.Pages.ManageDoctorModel
@{
    int i = 1;
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Manage Doctor</h6>
                <a asp-area="Admin" asp-page="/CreateDoctor"><button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"> <i class="mdi mdi-account-plus"></i>Create Doctor</button></a>
                <hr />
                <form class="d-none d-md-flex ms-4" method="get">
                    <input class="form-control border-0" type="search" placeholder="Search" asp-for="CurrentFilter" name="SearchString">
                    <button type="submit" class="btn btn-primary m-2">Search</button>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Doctors)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>@item.Username</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td><a asp-page="/UpdateDoctor" asp-area="Admin" asp-route-id="@item.UserID">Edit</a></td>
                                </tr>
                            }
                            
                            
                        </tbody>
                    </table>
                    @{
                        var pagingmodel = new Helpers.PagingModel()
                        {
                            currentPage = Model.currentPage,
                            countPages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/ManageDoctor", new { p = p, SearchString = Model.CurrentFilter })
                        };
                    }

                    <partial name="_Paging" model="@pagingmodel" />
                </div>
            </div>
        </div>
    </div>
</div>