@page "/manage-appointment"
@model PRN221_Project_MedAppoint.Areas.Admin.Pages.ManageAppointmentModel
@{
    int i = 1;
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Manage Appointment</h6>
                <form method="get" asp-page="/ManageAppointment">
                    <select asp-for="FilterCurrent" name="FilterStatus">
                        <option value="AllStatus">All Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancel">Cancel</option>
                    </select>
                    <input type="submit" value="Filter"/>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Doctor Name</th>
                                <th scope="col">Specialist</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Appointments)
                            {
                                <tr>
                                    <th scope="row">@(i++)</th>
                                    <td>@item.User.Username</td>
                                    <td>@item.Doctor.Username</td>
                                    <td>@item.Specialist.SpecialtyName</td>
                                    <td>@item.Status</td>
                                    <td>
                                        @if (item.Status.Equals("Pending"))
                                        {
                                            <a asp-page="/UpdateStatusAppointment" asp-area="Admin" asp-route-appointmentID="@item.AppointmentID" asp-route-FilterStatus="@Model.FilterCurrent">Edit</a>
                                        }
                                    </td>

                                </tr>
                            }
                            
                            
                        </tbody>
                    </table>
                    @{
                        var pagingmodel = new Helpers.PagingModel()
                        {
                            currentPage = Model.currentPage,
                            countPages = Model.countPages,
                            generateUrl = (int? p) => Url.Page("/ManageAppointment", new { p = p, FilterStatus = Model.FilterCurrent })
                        };
                    }
                    <partial name="_Paging" model="@pagingmodel" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sendSelectedValue() {
        var selectedDoctorId = document.getElementById("doctorDropdown").value;
        if (selectedDoctorId) {
            $.ajax({
                type: "POST",
                url: '/manage-appointment?handler=SelectedDoctorId',
                data: { doctorId: selectedDoctorId },
                success: function (response) {
                    console.log("Selected doctor ID sent successfully.");
                },
                error: function (error) {
                    console.log("Error sending selected doctor ID.");
                }
            });
        }
    }
</script>
