@page "/checkout"
@model PRN221_Project_MedAppoint.Areas.User.Pages.Customer.CheckoutModel
@{
    var duplicateSchedule = ViewData["duplicateSchedule"];
    var wrongDate = ViewData["wrongDate"];
}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/style.css" type="text/css">
</head>

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form method="post" asp-page-handler="BookingAppointment">
                <input type="hidden" asp-for="Doctor.User.UserID" />
                <input type="hidden" asp-for="Doctor.User.DoctorPrice" />
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">@Localizer["Appoitment Details"]</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>@Localizer["Doctor Name"]<span>*</span></p>
                                    <input asp-for="Doctor.User.Username" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>@Localizer["Service"]<span>*</span></p>
                                    <select asp-for="SpecialistID" asp-items="@Model.Specialists">
                                        <option value="0">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>@Localizer["Date"]<span>*</span></p>
                                    <input asp-for="Input.Date" class="form-control" placeholder="Enter Date" />
                                    @if (wrongDate != null)
                                    {
                                        <span class="text-danger">@wrongDate</span>
                                    }
                                    else
                                    {
                                        <span asp-validation-for="Input.Date" class="text-danger"></span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>@Localizer["Time Begin"]<span>*</span></p>
                                    <input asp-for="Input.BeginTime" class="form-control" />
                                    @if (duplicateSchedule != null)
                                    {
                                        <span class="text-danger">@duplicateSchedule</span>
                                    } else
                                    {
                                        <span asp-validation-for="Input.BeginTime" class="text-danger"></span>
                                    }
                                </div>
                            </div>
                        </div>
                        @* <div class="checkout__input">
                            <p>Appointment notes<span>*</span></p>
                            <input type="text"
                                   placeholder="Notes about your appoitment.">
                        </div> *@
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h6 class="order__title">@Localizer["Book Appointment"]</h6>
                            <div class="checkout__order__products">@Localizer["Doctor"] <span>@Localizer["Price"]</span></div>
                            <ul class="checkout__total__products">
                                <li>@Model.Doctor.User.Username.ToUpper() <span> @string.Format("{0:#,##0} VND", Model.Doctor.User.DoctorPrice)</span></li>
                            </ul>
                            <div class="checkout__input__checkbox">
                                <label for="momo">
                                    Momo
                                    <input type="checkbox" id="momo" checked>
                                    <span class="checkmark"></span>
                                    <img src="user/img/MoMo_Logo.png" width="25">   
                                </label>
                            </div>
                            <button type="submit" class="site-btn">@Localizer["BOOK"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<!-- Js Plugins -->
<script src="~/user/js/jquery-3.3.1.min.js"></script>
<script src="~/user/js/bootstrap.min.js"></script>
<script src="~/user/js/jquery.nice-select.min.js"></script>
<script src="~/user/js/jquery.barfiller.js"></script>
<script src="~/user/js/jquery.magnific-popup.min.js"></script>
<script src="~/user/js/jquery.slicknav.js"></script>
<script src="~/user/js/owl.carousel.min.js"></script>
<script src="~/user/js/jquery.nicescroll.min.js"></script>
<script src="~/user/js/main.js"></script>